*{
    padding: 0;
}
.navbar {
    background-color: #060b26 ;
    height: 80px;
    display: Flex;
    justify-content: start;
    align-items: center;
}
.contenedor{
    margin-bottom: 15px;
}
.informacion{
    border: solid 4px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    border-color: dodgerblue;
}
.tablahistorial{
    border: solid;
    border-radius: 1px;
    border-color: dodgerblue;
}
.licentro{
    padding-right: 20px;
}
.divtabla{
    margin-left: 20px;
    margin-right: 20px;
}
.ulhistorial{
    display: inline-flex;
}
.btn-right{
    float: right;
    margin-right: 15px;
}
.btn-left{
    float: left;
    margin-left: 15px;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;

}

.nav-menu{
    z-index: 10;
    background-color: #060b26 ;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active {
   left: 0;
   transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px ;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}


.nav-menu-items {
    width: 100%;

}
.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

span {
    margin-left: 16px;
}
.h3 {
    font-family:'Times New Roman', Times, serif;
    color: black;
}

.ha {
    background-color:#fdfdff;

}
.cin{
    border-radius: 50px;

}
.sie{
    margin-top: 15px;
}

@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap');

.conejo{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.navbar {
    background-color: #060b26 ;
    height: 80px;
    display: Flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;

}

.nav-menu{
    background-color: #060b26 ;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active {
   left: 0;
   transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px ;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}


.nav-menu-items {
    width: 100%;

}
.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

span {
    margin-left: 16px;
}
.h3 {
    font-family:'Times New Roman', Times, serif;
    color: black
}
.ho {
    color:black;
    font-size: 50px !important;   
}
.ha {
    background-color:#fdfdff

}
.cin{
    border-radius: 50px;
    background-color: rgb(108, 139, 45);

}
.sie{
    margin-top: 15px;
}

@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap');

.conejo{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.margen{
    margin-left: 1050px !important;
    color: white;
}

.color{
    color: white !important;
    font-size: 15px !important;
}

.color:hover:focus{
    color: white !important;
}

.imagen3{
    width: 500px;
    height: 200px;
}
.btn3{
    height: 35px;
    width: 105px;
    font-size: 15;
}
.container3{
    position: absolute;
    top:50%;
    left: 17%;
    margin-top: -200px;
    margin-left: -200px;
}
.imagen6{
    width: 50%;
    height: 50%;
    align-items: center;
    margin-left: 25%;

}
.card-text{
    font-size: 15px !important;
}

.list-group-item{
    font-size: 20px;
}
.card-boton{
    height: 200px !important;
    width: 20px !important;
}

.par{
    display: flex;
}

.linkInicio{   
    color: white ;
    font-size: 17px !important;
}

.linkInicio:hover{
    text-decoration: none;
}

.tamanio{
    font-size: 13px !important;
}

.centro{
    margin-left: 55px !important;
}

/*nuevo*/

.nuevo{
    
    justify-content: flex-end !important;
    width: 848px !important;
}