.texto-curso{
    font-size: 20px;
    margin-left: 50%;
   
}
.texto-curso2{
    font-size: 15px;
    margin-top: 10%;

}
.icono-curso{
    font-size: 20px;

}
.text-area{
    width: 500px;
}

.item1{
    width: 160px !important;
}